<div class="container-fluid">
  <div class="row">
      <!--Lado izquierdo-->
      <section id="izquierda" class="d-none d-md-block col-md-6 col-lg-6 col-xl-6">
          <div class="row">
              <h1 class="col-md-12 col-lg-12 col-xl-12 self-center">EMPIEZA EL VIAJE EN <img src="../../assets/images/logo-banana-gris.png"/></h1>
          </div>
          <div class="row">
              <h4 class="col-md-12 col-lg-12 col-xl-12 self-center">DESCUBRE LUGARES APASIONANTES</h4>
          </div>    
          <div class="row">
              <h4 class="col-md-12 col-lg-12 col-xl-12 self-center">Y COMPARTE LOS TUYOS</h4>
          </div>
      </section>
      <!--/Lado izquierdo-->
      <!--Lado derecho-->
      <section id="derecha" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="row">
              <h3 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">REGÍSTRATE</h3>
          </div>
          <div class="row">
              <div class="col-8 offset-2 col-sm-6 offset-sm-3 col-md-7 offset-md-3 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 self-center">
                  <form  class="needs-validation" novalidate name="fregistro"
                        id="formregistro" 
                        action="" 
                        method="post"
                        autocomplete="off">
                      <div class="form-group">
                          <label for="nombre">Nombre de usuario</label>
                          <br>
                          <input type="text" 
                             name="nombre" 
                             id="nombre" 
                             value="" 
                             required
                             class="form-control"/>
                            <div class="invalid-feedback">
                              Nombre de usuario no válido
                            </div>
                      </div>
                      <div class="form-group">
                          <label for="email">Correo electrónico</label>
                          <br>
                          <input type="email" 
                                 name="correo" 
                                 id="email" 
                                 value="" 
                                 required 
                                 minlength="7" 
                                 maxlength="50"
                                 class="form-control">
                            <div class="invalid-feedback text-left">
                              Introduce una dirección email válida
                            </div>
                      </div>
                      <div class="form-group">
                          <label for="password">Contraseña</label>
                          <br>
                          <input type="password" 
                                 name="pass" 
                                 id="password" 
                                 value="" 
                                 required
                                 class="form-control"/>
                            <div class="invalid-feedback text-left">
                             La contraseña debe contener al menos un número
                            </div>
                      </div>
                      <div class="form-group">
                          <label for="repass">Repetir contraseña</label>
                          <br>
                          <input type="password"
                                 name="repass" 
                                 id="repass" 
                                 value="" 
                                 required
                                 class="form-control"/>
                            <div class="invalid-feedback text-left">
                              La contraseña no coincide
                            </div>
                      </div>
                      <div id="check" class="form-check">
                          <input type="checkbox" 
                                 id="condiciones" 
                                 name="condiciones" 
                                 required
                                 class="form-check-input">
                          <label for="condiciones" cl ss="form-check-label">ACEPTO LOS  <a routerLink="terminos">TÉRMINOS Y CONDICIONES</a> Y LA <a routerLink="privacidad">POLÍTICA DE PRIVACIDAD</a></label>
                      </div>
                      <div id="boton" class="input-group-btn text-center">
                          <button id="registro" class="btn btn-secondary" type="submit">¡Registradme!</button>
                      </div>
                  </form>
              </div>
          </div>
              <div id="volver" class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                      <a routerLink="/">Volver a inicio</a>
                  </div>
              </div>
          </section>
          <!--/Lado derecho-->
      </div>
  </div>