 <div class="container-fluid" id="body">
        <div id="titular" class="row">
            <p id="titulo" class="text-center col-xl-12  col-lg-12 col-md-12 col-sm-12 col-12"> QUIÉNES SOMOS</p>
            <p id="who" class="col-xl-12  col-lg-12 col-md-12 col-sm-12 col-12 text-center">¿De dónde venimos? ¿Adónde vamos?</p>    
        </div>
    <div id="meetus" class="row">
        <div>
        <h4 id="MB">Monkey Business</h4>
        <p id="descripcion">En Monkey Business somos unas apasionadas de los viajes y gracias a ello hemos reunido las funcionalidades de tus plataformas preferidas en una sola página. Porque queremos crear una espacio único para personas curiosas, con ilusión por viajar y ganas de compartir. 
        </p>
        </div>
        <div class="col-xl-6">
            <div class="pic">
                <img class="offset-xl-4 col-xl-4 offset-lg-4 col-lg-4 offset-md-4 col-md-4 offset-sm-4 col-sm-4 offset-4 col-4" src="../../assets/images/monkey1.png" alt="Marian"/>
            </div>
            <h4>Marian</h4>
            <div  class="linkedin">
                <a   href="https://www.linkedin.com/in/frontendmarianpatilla/"><img  src="../../assets/images/socialmedia/linkedin.png" alt="Linkedin"/></a>
            </div>
                <h5>Dirección de producto</h5>
                <p>Gracias a sus años de experiencia como agente de viajes es experta en muchísimos destinos. Es una viajera todoterreno, disfrutará tanto en una ruta mochilera conociendo street-foods asiáticos como en un crucero a todo lujo por el Atlántico. Su lugar favorito es el sur de Irlanda y su destino soñado es Japón.
                </p>
            </div>
        <div class="col-xl-6">
            <div class="pic">
                <img class="offset-xl-4 col-xl-4 offset-lg-4 col-lg-4 offset-md-4 col-md-4 offset-sm-4 col-sm-4 offset-4 col-4" src="../../assets/images/monkey(2)3.png" alt="Laura"/>
            </div>
            <h4>Laura</h4>
            <div  class="linkedin">
                <a  href="https://www.linkedin.com/in/laurabermejocarrasco/"><img src="../../assets/images/socialmedia/linkedin.png" alt="Linkedin"/></a>
            </div>
                <h5>Dirección de tecnología</h5>
                <p>Nuestra experta en comunicación audiovisual y front-end contrasta su trabajo entre monitores y nuevas tecnologías con su pasión por la naturaleza. Para ella no hay mejor opción que perderse por los bosques y las playas de Galicia. Sueña con ir a Noruega, dormir en el hielo y ver la aurora boreal.
                </p>
        </div>
      
          <div class="col-xl-6">
            <div class="pic">
                <img class="offset-xl-4 col-xl-4 offset-lg-4 col-lg-4 offset-md-4 col-md-4 offset-sm-4 col-sm-4 offset-4 col-4" src="../../assets/images/monkeyVir.png" alt="Virginia"/>
            </div>
            <h4>Virginia</h4>
            <div  class="linkedin">
                <a  href="https://www.linkedin.com/in/virginia-villaplana-fern%C3%A1ndez/"><img src="../../assets/images/socialmedia/linkedin.png" alt="Linkedin"/></a>
            </div>
                <h5>Dirección de diseño</h5>
                <p>La creatividad es su marca personal, dedica gran parte de su vida al diseño, la pintura, la música y la escritura. Estudió periodismo y comunicación audiovisual. El resto del tiempo lo dedica a viajar, vive entre Austria y España, adora Holanda y su próximo destino será Brasil. El continente asiático se incluye en su lista de deseos y pretende desmarcarlo muy pronto.
                </p>
           </div>
       
        <div class="col-xl-6">
            <div class="pic">
                <img class="offset-xl-4 col-xl-4 offset-lg-4 col-lg-4 offset-md-4 col-md-4 offset-sm-4 col-sm-4 offset-4 col-4" src="../../assets/images/monkey3.png" alt="Noemí"/>
            </div>
            <h4>Noemí</h4>
         <div  class="linkedin">
            <a href="https://www.linkedin.com/in/noem%C3%AD-perlopez/"><img src="../../assets/images/socialmedia/linkedin.png" alt="Linkedin"/></a>
            <div  class="linkedin">
                <h5>Dirección de UX</h5>
                <p>En otra vida fue sommelier de té y eso se refleja en su capacidad de distinguir los matices y encontrar la armonía en cada detalle. Sus estudios de Biología le permiten llevar la experiencia de usuario a otro nivel. Le encantaría ir a Madagascar, se confiesa enamorada de Italia y si tuviese que elegir un lugar para desconectar sería sin duda Budapest.
                </p>      
            </div>
          </div>  
      </div>
    </div>
</div>  
