@font-face{
    font-family: Raleway;
    src: url(../../assets/fonts/raleway2.woff2);
}
@font-face{
    font-family: ReenieBeanie;
        src: url(../../assets/fonts/ReenieBeanie.woff2);
}
/*General*/
body{
    font-family: "Raleway", arial, sans-serif;
    font-size: 14px;
    color:#454545;
}
/*Maquetado imagen izquierda*/
#izquierda{
    height:100%;
    width:100%;
    text-align: center;
    background-image: url(../../assets/images/inicarsesion.png);
    background-repeat: no-repeat;
}

/*Textos izquierda*/
#izquierda h1{
    margin-top:10px;
    font-family: "ReenieBeanie";
    font-size: 4em;
}
#izquierda h2{
    margin-bottom: 2px;
    margin-top: 2px;
    font-variant: small-caps;
    font-weight: 80%;
    letter-spacing: 4px;
}

/*Maquetado derecha*/
#derecha h3{
    margin-left: 40px;
    margin-top: 100px;
    font-size: 2em;
}
h3 img{
    width: 230px;
}
#formsesion{
       margin-top: 50px;
}

/*Enlaces*/
#fpass a, #volver a{
    text-decoration: none;
    color: #454545; 
}
#fpass a:hover{
    color: #1f5941;
    font-weight: 600;
    text-decoration:none;
}
#volver a:hover{
    color: #1f5941;
    font-weight: 600;
    text-decoration:none;
}
/*Media queries*/
@media screen and (min-width:767px) and (max-width:1038px){
    #derecha h3{
        margin-left:0;
        font-size:1.75em;
    }
    h3 img{
        width:170px;
    }
}
@media screen and (max-width:768px){
    #derecha{
        background-image:url(../../assets/images/inciarsesion-sm2.png);
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
    }
}
@media screen and (max-width:519px){
    #derecha h3{
        margin-left:0;
        font-size:1.40em;
    }
    h3 img{
        width:130px;
    }
}