<div class="container-fluid">
  <div class="row">
      <!--Lado izquierdo-->
      <section id="izquierda" class="d-none d-md-block col-md-6 col-lg-6 col-xl-6">
          <div class="row">
              <h1 class="col-md-12 col-lg-12 col-xl-12 self-center">Hola bananer</h1>
          </div>
          <div class="row">
              <h2 class="col-md-12 col-lg-12 col-xl-12 self-center">Comparte tu visión,</h2>
          </div>
          <div class="row">
              <h2 class="col-md-12 col-lg-12 col-xl-12 self-center">añade tu videoviaje</h2>
          </div>    
      </section>
      <!--/Lado izquierdo-->
      <!--Lado derecho-->
      <section id="derecha" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="row">
              <h3 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">INICIAR SESIÓN EN <img src="../../assets/images/logo-banana-gris.png"/></h3>
          </div>
          <div class="row">
              <div class="col-8 offset-2 col-sm-6 offset-sm-3 col-md-7 offset-md-3 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 self-center">
                  <form name="finiciarsesion" 
                      id="formsesion" 
                      action="perfilusuario.php" 
                      method="get"
                        class="needs-validation" novalidate>
                      <div class="form-group">
                          <label for="nombre">Usuario/correo electrónico</label>
                          <br>
                          <input type="email" 
                                  name="nombre" 
                                  id="nombre" 
                                  value="" autocomplete="off" 
                                  class="form-control" 
                                  required/>
                          <div class="invalid-feedback">Por favor, escribe un correo electrónico válido</div>
                      </div>
                      <div class="form-group">
                          <label for="password">Contraseña </label>
                          <br>
                          <input type="password" 
                                  name="pass" 
                                 id="password" 
                                  value="" autocomplete="off" 
                                  class="form-control"
                                  required/>
                          <div class="invalid-feedback">Por favor, escribe tu contraseña</div>
                      </div>
                      <br>
                      <div class="input-group-btn text-center">
                          <button id="sesion" class="btn btn-secondary" type="submit">Iniciar sesión</button>
                      </div>
                  </form>
              </div>
          </div>
          <div id="fpass"class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                  <a routerLink="recuperapass">He olvidado mi contraseña :( </a>
              </div>
          </div>
          <br>
          <div id="volver" class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                  <a routerLink="/">Volver a inicio</a>
              </div>
          </div>
      </section>
      <!--/Lado derecho-->
  </div>
</div>
