<div id="body">
<div class="row" id="imgbgsection1">
    <section class="offset-xl-2 col-xl-8 offset-xl-2 offset-lg-1 col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-12">
                <form name="miformulario" id="formindex" action="busqueda.php" method="post">
                   
                        <div class="input-group ">
                            <input type="text" class="col-xl-8 col-lg-8 col-md-8 col-sm-7 col-12 form-control" autocomplete="off" name="buscador" id="buscador" placeholder="DESTINO/GASTRONOMÍA/CULTURA/AVENTURA"/>
                        
                       
                            <button type="submit" name="button" class="btn-dark btn input-group-btn col-xl-4 col-lg-4 col-md-4 col-sm-5 col-12" value="">Encuentra experiencias</button>
                    </div>
                </form>
    </section>
    <section class="container-fluid" id="insectiona">
        <div class="row">
            <h3 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">Un mundo, siete mil millones de visiones, ¿cuál es la tuya?</h3>
        </div>
        <div class="row text-center" id="bloquesin">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                <h4>Descubre lugares increíbles</h4>
                <strong><p>Descubre las experiencias de nuestra comunidad global de viajeros.</p></strong>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                <h4>Organiza tu viaje</h4>
                <strong><p>Básate en las experiencias de nuestros viajeros para crear el viaje perfecto.</p></strong>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                <h4>Comparte tus vídeos</h4>
                <strong><p>Sube el vídeo de tu último viaje y ayuda al resto de viajeros a descubrir tu forma de ver el mundo.</p></strong>
            </div>
        </div>
    </section>
</div>
<div class="row" id="fondo">

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 ">
        <p id="prim">
            Regístrate, empieza a contar tu historia...
        </p>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-9">
            <img src="../../assets/images/mapamundi.png"  alt="Mapa mundial" />
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 d-none d-sm-block">
        <p id="seg">
            ...y pasa a formar parte de la comunidad bananer.
        </p>
    </div>
    </div>

</div>