<!--HEADER-->
<div style="text-align:center">
    <div>
        <div>
            <a href=""><img src="assets/images/logo-banana.png" width="150" /></a>
        </div>
        <div>
            <p>ILUSIÓN POR VIAJAR</p>
        </div>
    </div>
</div>
<app-insection></app-insection>
<!--footer-->
<nav>
    <ul>
        <li> <a href="#">QUIÉNES SOMOS</a></li>
        <li> <a href="#">TÉRMINOS Y CONDICIONES DE USO</a></li>
        <li> <a href="#">POLÍTICA DE PRIVACIDAD</a></li>
        <li> <a href="#">CONTACTO</a></li>
    </ul>
</nav>