

    <div class="container" role="navigation">
        <div id="volver" class="row text-right">
          <a routerLink="/">Volver a inicio</a>
        </div>
        <div  class="row">
        <div class="col-xl-8 offset-xl-2" id="contenido">
            <h3>Términos y condiciones del Servicio de BananaTube</h3>
            <br>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h4 class="mb-0"><button class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1. Su relación con Bananatube</button></h4>
                </div>
                <div id="collapseOne" class="collapse" data-parent="contenido" aria-labelledby="headingOne">
                <div class="card-body">
                <p>1.1 Su utilización del sitio web de BananaTube (el "Sitio Web") y de todos los productos, canales, software, alimentación de datos y servicios de BananaTube, incluyendo el reproductor de video de BananaTube incorporado (el "Reproductor de Video de BananaTube") que BananaTube le facilite en, desde o a través del Sitio Web (conjuntamente, el "Servicio") estará sujeto a las condiciones de un acuerdo legal entre Ud. y BananaTube. "BananaTube" significa BananaTube LLC, una sociedad con domicilio social en Calle Marqués de Ahumada, 7, Madrid, España.</p>

                <p>1.2 Su acuerdo legal con Bananatube se compone de (A) los términos y condiciones establecidos en este documento, (B) la Política de Privacidad de BananaTube (https://www.bananatube.es/privacy) y (C) las Directrices de la Comunidad BananaTube (https://www.bananatube.es/t/community_guidelines) (conjuntamente, los "Términos y Condiciones").</p>

                <p>1.3 Los Términos y Condiciones constituyen un contrato legalmente vinculante para Ud. y para BananaTube en relación con su utilización de los Servicios, por lo que es importante que los lea detenidamente.</p>

                <p>1.4 Los Términos y Condiciones son de aplicación a todos los usuarios del Servicio, incluyendo aquellos usuarios que aporten igualmente Contenido en el Servicio. “Contenido” incluye el texto, software, guiones, gráficos, fotos, sonidos, música, videos, combinaciones audiovisuales, funcionalidades interactivas y otros materiales que Ud. pueda visualizar en, o acceder a través de, o aportar a, el Servicio.</p>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h4 class="mb-0"><button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">2. Aceptación de los Términos y Condiciones</button></h4>
                </div>
            
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#contenido">
                <div class="card-body">
            <p>2.1 Para poder utilizar los Servicios, deberá aceptar previamente los Términos y Condiciones. Ud. no podrá utilizar los Servicios si no acepta los Términos y Condiciones.</p>

            <p>2.2 Puede aceptar los Términos y Condiciones mediante la simple utilización de los Servicios. Ud. reconoce y acepta que BananaTube considerará que su uso de los Servicios constituye la aceptación de los Términos y Condiciones a partir del inicio de dicha utilización.</p>

            <p>2.3 Ud. no podrá utilizar los Servicios ni podrá aceptar los Términos y Condiciones si (a) no está legalmente capacitado para celebrar un contrato vinculante con BananaTube, o (b) tiene prohibida o legalmente excluida la recepción o utilización de los Servicios, en virtud de la legislación de su país de residencia o desde el que accede o utiliza los Servicios.
            </p>
            <p>2.4 Le recomendamos que imprima o guarde en sus archivos una copia local de los Términos y Condiciones.</p>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading3">
                    <h4 class="mb-0"><button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">3. Cambios en los Términos y Condiciones</button></h4>
                </div>
            
                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#contenido">
                <div class="card-body">
            <p>BananaTube se reserva el derecho a realizar modificaciones en los Términos y Condiciones en cualquier momento, por ejemplo para tratar cambios de la ley o normativa o cambios en las funcionalidades ofrecidas a través del Servicio. Por tal motivo, deberá revisar los Términos y Condiciones regularmente para comprobar dichas modificaciones. La versión modificada de los Términos y Condiciones (los “Términos y Condiciones Modificados”) serán publicados en https://www.BananaTube.es/t/terms o puestos a su disposición dentro del Servicio (para cualquier término adicional modificado). Si Ud. no esta de acuerdo con los Términos y Condiciones Modificados Ud. deberá dejar de utilizar el Servicio. Su uso continuado del Servicio después de que los Términos y Condiciones Modificados hayan sido publicados constituirá su aceptación de los Términos y Condiciones Modificados.</p>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading4">
                    <h4 class="mb-0"><button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">4. Cuentas BananaTube</button></h4>
                </div>
            
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#contenido">
                <div class="card-body">
            <p>4.1 Para poder acceder a determinadas funciones del Sitio Web u otros elementos de los Servicios, tendrá que crear una cuenta BananaTube. Al crear su cuenta, deberá facilitar determinada información correcta y completa. Es importante que mantenga de forma segura y confidencial su contraseña de cuenta BananaTube.</p>

        <p>4.2 Ud. deberá notificar a BananaTube inmediatamente cualquier incumplimiento de las normas de seguridad o cualquier uso no autorizado de su cuenta BananaTube del que tenga conocimiento.</p>

        <p>4.3 Ud. acepta ser el único responsable (frente a BananaTube y a otros terceros) de toda la actividad que tenga lugar en su cuenta BananaTube.</p>
                </div>
                </div>
            </div> 
            <div class="card">
                <div class="card-header" id="heading5">
                    <h4 class="mb-0"><button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">5. Restricciones generales a la utilización</button></h4>
                </div>
            
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#contenido">
                <div class="card-body">
            <p>5.1 BananaTube le autoriza a acceder y utilizar los Servicios, con sujeción a las condiciones específicas que a continuación se indican, y Ud. acepta que su inobservancia de cualquiera de estas condiciones constituirá un incumplimiento de los presentes Términos y Condiciones por su parte:</p>

        <p>Ud. se obliga a no distribuir ninguna parte del Sitio Web o de los Servicios, incluyendo a título enunciativo, que no limitativo, el Contenido, a través de ningún medio sin la previa autorización por escrito de BananaTube salvo en caso de que BananaTube ponga a su disposición los medios para dicha distribución a través de una funcionalidad ofrecida por el Servicio (tal como el Reproductor de Video de BananaTube);</p>
        <p>Ud. se obliga a no alterar o modificar ninguna parte del Sitio Web o de los Servicios (incluyendo a título enunciativo, que no limitativo, el Reproductor de Video de BananaTube y sus tecnologías relacionadas);</p>
        <p>Ud. se obliga a no acceder a los Contenidos utilizando cualquier tecnología o medio distintos de las páginas de reproducción de video del propio Sitio Web, el Reproductor de Video de BananaTube o cualquier otro medio que BananaTube designe explícitamente a tal efecto;</p>
        <p>Ud. se obliga a no eludir, desactivar o manipular de cualquier otra forma (o tratar de eludir, desactivar o manipular) las funciones de seguridad de los Servicios u otras funciones que (i) impidan o restrinjan la utilización o copia de los Contenidos, o (ii) que aplican las limitaciones a la utilización de los Servicios o de los contenidos que se ofrecen a través de los Servicios;</p>
        <p>Ud. se obliga a no utilizar el Servicio (incluyendo el Reproductor de Video de BananaTube) para ninguno de los siguientes fines comerciales a menos que haya obtenido la previa autorización por escrito de BananaTube: la reventa del acceso al Servicio;</p>
        <p>la venta de publicidad, patrocinio, o promociones colocados en o dentro del Servicio, o Contenido;</p>
        <p>la venta de publicidad, patrocinio o promociones en cualquier página de un blog que permita anuncios o sitio web que contenga Contenido entregado a través de los Servicios a menos que otro material no obtenido de BananaTube aparezca en la misma página y sea de valor suficiente para servir de base para dichas ventas los usos comerciales prohibidos no incluyen (i) la carga de un video original en BananaTube, (ii) el mantenimiento de un canal original a través del Sitio Web para promocionar una actividad empresarial o artística, (iii) mostrar videos BananaTube a través del Reproductor de Video de BananaTube o de cualquier otra forma en un blog o sitio web que permita anuncios, sujeto a las restricciones establecidas en 5.1(E)(iii) arriba; y (iv) cualquier uso que sea autorizado expresamente y por escrito por BananaTube;</p>
        <p>si Ud. utiliza el Reproductor de Video de BananaTube en su sitio web no podrá modificar, basarse en o bloquear cualquier porción o funcionalidad del Reproductor de Video de BananaTube incluyendo, pero no limitado a, los links de vuelta al Sitio Web;</p>
        <p>Ud. se obliga a no utilizar o activar ningún sistema automatizado (incluyendo, sin limitación alguna, cualquier robot, araña ("spider") o lector offline que acceda al Servicio de modo que envíe más mensajes de solicitud a los servidores de BananaTube en un intervalo de tiempo concreto de los que una persona física podría razonablemente producir en el mismo intervalo de tiempo utilizando un navegador web públicamente disponible y general (es decir, sin modificar);</p>
        <p>Ud. se obliga a no recabar datos personales de ningún usuario del Sitio Web o los Servicios (incluyendo los nombres de cuenta BananaTube);</p>
        <p>Ud. se obliga a no utilizar el Sitio Web o los Servicios (incluyendo los comentarios y las funciones de e-mail del Sitio Web) para ofrecer servicios en relación con una actividad comercial;</p>
        <p>Ud. se obliga a no ofrecer servicios, con fines comerciales, a los usuarios del Sitio Web con respecto a su Contenido; y Ud. se obliga a no acceder al Contenido para cualquier finalidad distinta al uso personal, no comercial únicamente conforme a lo pretendido y permitido por el normal funcionamiento de los Servicios, y únicamente para Streaming. “Streaming” significa una transmisión digital contemporánea del material de BananaTube a través de Internet a un dispositivo operado por un usuario y habilitado para Internet de tal forma que lo que se pretende es que los datos sean vistos en tiempo real y no descargados (tanto permanente como temporalmente), copiados, almacenados o redistribuidos por el usuario.</p>
        <p>Ud. no deberá copiar, reproducir, distribuir, transmitir, emitir al público, exponer, vender, licenciar, o de cualquier otra forma explotar cualquier Contenido para cualquier finalidad sin el consentimiento previo y por escrito de BananaTube o los licenciantes respectivos del Contenido.</p>
        <p>5.2 Ud. se obliga a cumplir con todas las demás disposiciones de los Términos y Condiciones y de las Directrices de la Comunidad BananaTube en todo momento mientras utilice los Servicios.</p>

        <p>5.3 BananaTube autoriza a los operadores de motores de búsqueda públicos a utilizar arañas ("spiders") para copiar materiales del sitio con el único fin de crear índices de búsqueda de los materiales disponibles para el público en general, si bien dichos materiales no podrán ser almacenados en memoria caché u otros archivos. BananaTube se reserva el derecho a revocar estas excepciones de forma general o en casos específicos.</p>

        <p>5.4 BananaTube innova de forma constante con el fin de ofrecer a sus usuarios la mejor experiencia posible. Ud. reconoce y acepta que la forma y naturaleza de los Servicios prestados por BananaTube podrá variar en cualquier momento sin necesidad de preaviso.</p>

        <p>5.5 Como parte de este proceso de innovación constante, Ud. reconoce y acepta que BananaTube podrá necesitar interrumpir (de forma permanente o temporal) la prestación de los Servicios (o de cualquier función de éstos) a Ud. o a los usuarios en general,como consecuencia de requisitos operacionales tales como aquellos relacionados con la seguridad de los Servicios, su seguridad como usuario, o a necesidades de mantenimiento de los Servicios. Ud. podrá dejar de utilizar los Servicios en cualquier momento y no vendrá obligado a informar de ello específicamente a BananaTube.</p>

        <p>5.6 Ud. reconoce ser el único responsable (sin que BananaTube asuma responsabilidad alguna frente a Ud. o a cualquier tercero para) del incumplimiento de sus obligaciones previstas en los Términos y Condiciones y de las consecuencias (incluyendo cualesquiera pérdidas o daños en que BananaTube pueda incurrir) derivadas de dicho incumplimiento.</p>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading6">
                    <h4 class="mb-0"><button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">6. Política de derechos de autor</button></h4>
                </div>
            
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#contenido">
                <div class="card-body">
            <p>6.1 BananaTube aplica una política de derechos de autor clara en relación con el Contenido que infrinja presuntamente los derechos de autor de un tercero. Puede consultar la información detallada de esta política en https://www.BananaTube.es/t/copyright_notice</p>

        <p>6.2 Como parte de la política de derechos de autor de BananaTube, BananaTube cancelará el acceso al Servicio de cualquier usuario considerado como infractor reiterado. Un infractor reiterado es un usuario al que se le ha notificado la actividad infractora en más de dos ocasiones.</p>

                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading7">
                    <h4 class="mb-0"><button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">7. Contenido</button></h4>
                </div>
            
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#contenido">
                <div class="card-body">
            <p>7.1 Como titular de una cuenta BananaTube, podrá enviar Contenido. Ud. entiende que con independencia de que dicho Contenido sea publicado, BananaTube no garantiza ningún tipo de confidencialidad con respecto a Contenido.</p>

        <p>7.2 Ud. seguirá siendo el titular de los derechos relativos a su Contenido, si bien deberá otorgar unos derechos de licencia limitados a favor de BananaTube y otros usuarios de los Servicios. Estos derechos se describen en el epígrafe 8 de los presentes Términos y Condiciones (Derechos que Ud. otorga bajo licencia).</p>

        <p>7.3 Ud. reconoce y acepta ser el único responsable de su Contenido y de las consecuencias de su publicación. BananaTube no suscribe ningún Contenido ni ninguna opinión, recomendación o consejo expresado en relación con el mismo, excluyendo expresamente toda responsabilidad relativa al Contenido.</p>

        <p>7.4 Ud. manifiesta y garantiza que es titular (y que lo seguirá siendo mientras utilice los Servicios) de todas licencias y todos los derechos, consentimientos y permisos que se necesitan para permitir a BananaTube utilizar su Contenido a efectos de la prestación del Servicio y para cualquier otro fin con arreglo a la forma contemplada en el Servicio y en los presentes Términos y Condiciones.</p>

        <p>7.5 Ud. declara que su conducta en el Sitio Web (y el contenido de todo su Contenido) cumplirá con las Directrices de la Comunidad BananaTube, las cuales pueden consultarse en https://www.BananaTube.es/t/community_guidelines, en su versión vigente en cada momento.</p>

        <p>7.6 Ud. se obliga a no publicar o cargar ningún Contenido que contenga material cuya posesión sea ilegal para Ud. en su país de residencia, o cuya utilización o posesión sea ilegal para BananaTube en relación con la prestación de los Servicios.</p>

        <p>7.7 Ud. se obliga a que el Contenido que Ud. proporcional al Servicio no contendrá material sujeto a derechos de propiedad intelectual de terceros o material sujeto a otros derechos de propiedad industrial de terceros(incluyendo derechos de exclusividad o publicidad), salvo que el titular legal de dichos derechos le haya otorgado una licencia o autorización formal, o está legalmente autorizado de calquier otra forma, para publicar el material en cuestión y para otorgar a BananaTube la licencia indicada en el epígrafe 8.1 siguiente.</p>

        <p>7.8 Al tener conocimiento de cualquier incumplimiento de los éstos Términos y Condiciones, BananaTube se reserva el derecho (si bien no estará obliga) a decidir si el Contenido cumple con los requisitos de contenido estipulados en los presentes Términos y Condiciones, y podrá eliminar dicho Contenido y/o cancelar el acceso de cualquier Usuario para cargar Contenido que infrinja los presentes Términos y Condiciones en cualquier momento, sin necesidad de preaviso y a su elección exclusiva.</p>

        <p>7.9 Asimismo, Ud. reconoce y entiende que al utilizar los Servicios, podrá estar expuesto a Contenido objetivamente impreciso, ofensivo, indecente o cuestionable para Ud. En virtud del presente documento, Ud. renuncia a ejercitar cualquier derecho o acción legal o en equidad que pueda corresponderle contra BananaTube con respecto a cualquier Contenido.</p>

                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading8">
                    <h4 class="mb-0"><button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">8. Derechos que Ud. otorga bajo licencia</button></h4>
                </div>
            
                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#contenido">
                <div class="card-body">
       <p>8.1 Al cargar o publicar Contenido en BananaTube, Ud. estará otorgando:</p>

        <p>a favor de BananaTube, una licencia mundial, no exclusiva, exenta de royalties y transferible (con derecho de sub-licencia) para utilizar, reproducir, distribuir, realizar obras derivadas de, mostrar y ejecutar ese Contenido en relación con la prestación de los Servicios y con el funcionamiento del Servicio y de la actividad de BananaTube, incluyendo sin limitación alguna, a efectos de promoción y redistribución de la totalidad o de una parte del Servicio (y de sus obras derivadas) en cualquier formato y a través de cualquier canal de comunicación;</p>
        <p>a favor de cada usuario del Servicio, una licencia mundial, no exclusiva y exenta de royalties para acceder a su Contenido a través del Servicio, y para utilizar, reproducir, distribuir, realizar obras derivadas de, mostrar y ejecutar dicho Contenido en la medida de lo permitido por la funcionalidad del Servicio y con arreglo a los presentes Términos y Condiciones.</p>
        <p>8.2 Las anteriores licencias otorgadas por Ud. con respecto a los Videos de Usuario quedarán canceladas cuando Ud. elimine o borre sus Videos de Usuario del Sitio Web. Las anteriores licencias otorgadas por Ud. con respecto a los Comentarios de Usuario son de carácter perpetuo e irrevocable, sin perjuicio de sus derechos de propiedad, cuya titularidad le corresponderá a Ud. en todo momento conforme a lo estipulado en el epígrafe 7.2 anterior.</p>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading9">
                    <h4 class="mb-0"><button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">9. Contenidos de BananaTube en el Sitio Web</button></h4>
                </div>
            
                <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#contenido">
                <div class="card-body">
       <p>9.1 A excepción del Contenido proporcionado al Servicio por Ud.,, todos los demás Contenidos del Servicio serán propiedad de BananaTube, o le corresponderán en virtud de una licencia, y estarán sujetos a derechos de autor, derechos de marca y otros derechos de propiedad intelectual e industrial de BananaTube o de los licenciantes de BananaTube. Todas las marcas comerciales y de servicio de otros terceros presentes en los Contenidos no subidos o publicados por Ud. serán marcas comerciales y de servicio de sus respectivos propietarios.</p>

        <p>9.2 Dicho Contenidos no podrán ser descargados, copiados, reproducidos, distribuidos, transmitidos, difundidos, mostrados, vendidos, otorgados bajo licencia o explotados para ningún otro fin sin el previo consentimiento por escrito de BananaTube, o de los licenciantes de BananaTube, en caso de que fuera aplicable. BananaTube y sus licenciantes se reservan todos los derechos que no hayan sido expresamente otorgados con respecto a su Contenido.</p>

                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading10">
                    <h4 class="mb-0"><button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">10. Vínculos en BananaTube</button></h4>
                </div>
            
                <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#contenido">
                <div class="card-body">
       <p>10.1 Los Servicios podrán incluir hipervínculos a otros sitios web que no serán propiedad de BananaTube ni estarán controlados por ésta. BananaTube no controla los contenidos, las políticas de privacidad o las prácticas de los sitios web de otros terceros ni asume responsabilidad alguna por éstos.</p>

        <p>10.2 Ud. reconoce y acepta que BananaTube no será responsable de la disponibilidad de los sitios web o recursos externos, y no suscribe ningún tipo de publicidad, productos u otros materiales ofrecidos a través dichos sitios web o recursos.</p>

        <p>10.3 Ud. reconoce y acepta que BananaTube no será responsable de las pérdidas o daños en que Ud. pueda incurrir a consecuencia de la disponibilidad de los mencionados sitios web o recursos externos, o a consecuencia de la credibilidad que Ud. otorgue a la exhaustividad, precisión o existencia de cualquier tipo de publicidad, productos u otros materiales ofrecidos a través de dicho sitios web o recursos.</p>

        <p>10.4 BananaTube recomienda que preste atención cuando Ud. abandone los Servicios y que lea los términos y condiciones y la política de privacidad de todos los demás sitios web que visite.</p>

                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading11">
                    <h4 class="mb-0"><button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">11. Finalización de su relación con BananaTube</button></h4>
                </div>
            
                <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#contenido">
                <div class="card-body">
       <p>11.1 Los Términos y Condiciones seguirán siendo de aplicación hasta su resolución a instancias de Ud. o de BananaTube conforme a las disposiciones siguientes.</p>

        <p>11.2 Si desea resolver su contrato legal con BananaTube, podrá hacerlo (a) notificándolo a BananaTube en cualquier momento y (b) cerrando su cuenta BananaTube. Su notificación deberá ser enviada, por escrito, a la dirección de BananaTube indicada al inicio de los presentes Términos y Condiciones.</p>

        <p>11.3 BananaTube podrá resolver su contrato legal con Ud. en cualquier momento si:</p>

        <p>Ud. incumple cualquiera de las disposiciones incluidas en los Términos y Condiciones (o actúa de forma que claramente indique que pretende hacerlo o que no será capaz de cumplir con lo estipulado en los Términos y Condiciones); o BananaTube viene obligada a ello por Ley (por ejemplo, cuando la prestación de los Servicios a Ud. sea, o pase a ser, ilegal); o</p>
        <p>11.4 BananaTube podrá resolver su contrato legal con Ud. si:</p>

        <p>BananaTube deja de prestar los Servicios a los usuarios de su país de residencia o desde el que Ud. utiliza los Servicios; o la prestación de los Servicios a Ud. por parte de BananaTube, deja de ser, en opinión de ésta, comercialmente viable. y en el caso de cada uno de los supuestos (A) y (B) de la cláusula 11.4, deberá notificarle razonablemente sobre dicha resolución.</p>

        <p>11.5 A la resolución de los presentes Términos y Condiciones, todos los derechos y obligaciones legales que correspondan tanto a Ud. como a BananaTube (o que se hayan devengado durante la vigencia de los Términos y Condiciones), o cuya vigencia deba continuar expresamente de forma indefinida, no se verán afectados por dicha resolución, y las disposiciones incluidas en el epígrafe 14.5 seguirán siendo de aplicación a dichos derechos y obligaciones con carácter indefinido.</p>

                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading12">
                    <h4 class="mb-0"><button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">12. Exclusión de Garantías</button></h4>
                </div>
            
                <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#contenido">
                <div class="card-body">
      <p>12.1 Nada de lo estipulado en los Términos y Condiciones afectará a los derechos legales que le asistirán en todo momento como consumidor y con respecto a los cuales no podrá pactar contractualmente ninguna modificación o renuncia.</p>

        <p>12.2 El Servicio se presta "tal cual" y BananaTube no otorga ninguna garantía ni realiza ninguna manifestación frente a Ud. con respecto a los mismos.</p>

        <p>12.3 En particular, BananaTube no le manifiesta ni garantiza que:</p>

        <p>su utilización de los Servicios cumplirá sus requisitos,</p>
        <p>su utilización de los Servicios será ininterrumpida, puntual, segura o libre de errores,</p>
        <p>la información que obtenga como consecuencia de su utilización de los Servicios será correcta o fiable, y se corregirán los defectos del funcionamiento o de las funcionalidades de cualquier software que se le proporcione como parte de los Servicios.</p>
        <p>12.4 No serán de aplicación a los Servicios ninguna condición o garantía (incluyendo cualesquiera garantías implícitas de calidad satisfactoria y adecuación a un fin concreto o a una descripción) excepto en la medida de lo expresamente estipulado en los Términos y Condiciones.</p>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading13">
                    <h4 class="mb-0"><button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">13. Limitación de Responsabilidad</button></h4>
                </div>
            
                <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#contenido">
                <div class="card-body">
     <p>13.1 Nada de lo estipulado en los presentes Términos y Condiciones excluirá o limitará la responsabilidad de BananaTube por pérdidas que no pueda ser legalmente excluidas o limitadas en virtud de la legislación aplicable.</p>

        <p>13.2 Con sujeción a la disposición general incluida en el epígrafe 13.1 anterior, BananaTube no será responsable frente a Ud. por:</p>

        <p>pérdidas indirectas o derivadas en que Ud. pueda incurrir, incluyéndose cualesquiera pérdidas de beneficios (con independencia de que se hayan originado de forma directa o indirecta), pérdidas de fondo de negocio o prestigio empresarial, o pérdidas de datos sufridas por Ud.;</p>
        <p>pérdidas o daños en que Ud. pueda incurrir a consecuencia de:</p>
        <p>la credibilidad que Ud. otorgue a la exhaustividad, precisión o existencia de cualquier material publicitario, o a consecuencia de cualquier relación u operación entre Ud. y cualquier publicista o patrocinador cuya publicidad aparezca en los Servicios;</p>
        <p>cualquier cambio que BananaTube introduzca en relación con los Servicios, o cualquier cese permanente o temporal de la prestación de los Servicios (o de cualquiera de sus funciones);</p>
        <p>la eliminación, corrupción o fallo de almacenamiento de cualquier Contenido u otros datos de comunicación mantenidos o transmitidos a través de su utilización de los Servicios;</p>
        <p>su falta de suministro a BananaTube de información de cuenta precisa;
            <p>su falta de mantenimiento de la seguridad y confidencialidad de su contraseña o información de cuenta BananaTube.</p>
            <p>13.3 Las limitaciones a la responsabilidad de BananaTube frente a Ud. incluidas en el epígrafe 13.2 anterior serán de aplicación con independencia de que BananaTube haya sido advertida o debiera haber sido advertida de la posibilidad del acaecimiento de dichas pérdidas.</p>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading14">
                    <h4 class="mb-0"><button class="btn btn-light collapsed" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">14. Disposiciones generales</button></h4>
                </div>
            
                <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#contenido">
                <div class="card-body">
     <p>14.1 Los Términos y Condiciones constituyen el acuerdo legal completo entre Ud. y BananaTube, rigen su utilización de los Servicios y sustituyen a todos los anteriores acuerdos entre Ud. y BananaTube en relación con los Servicios. Cualesquiera otros términos y condiciones de servicio que Google Inc. y cualesquiera de sus filiales puedan tener en cualquier momento quedan expresamente excluidas de los Términos y Condiciones.</p>

            <p>14.2 Ud. acepta que BananaTube podrá enviarle notificaciones, incluyendo las relativas a los cambios de los Términos y Condiciones, mediante e-mail, correo ordinario o publicando dichas modificaciones en el Servicio.</p>

            <p>14.3 Todas las notificaciones que se refieran a su derecho de acceso, modificación, rectificación y cancelación de sus datos personales deberán ser enviados por correo certificado a Monkey Bussines o a la siguiente dirección de correo electrónico: bananatube.mb@gmail.com.</p>

            <p>14.4 Ud. acepta que en el supuesto de que BananaTube no ejercite cualquier derecho o acción legal contemplado en los Términos y Condiciones (o que le corresponda en virtud de la legislación aplicable), ello no constituirá una renuncia formal a los derechos de BananaTube, permaneciendo dichos derechos y acciones legales plenamente vigentes para BananaTube.</p>

            <p>14.5 Si un tribunal con jurisdicción competente sobre este asunto determina que cualquiera de las disposiciones de los presentes Términos y Condiciones es inválida, dicha disposición será eliminada de los Términos y Condiciones sin que ello afecte al resto de los mismos permaneciendo las demás disposiciones plenamente vigentes en todos sus aspectos.</p>

            <p>14.6 Ud. reconoce y acepta que todos los miembros del grupo de sociedades del que BananaTube forma parte serán terceros beneficiarios de los Términos y Condiciones y que dichas sociedades tendrán derecho a exigir, directamente, el cumplimiento de cualquier disposición de los Términos y Condiciones donde se contemple un beneficio para éstos (o algún derecho a su favor). Aparte de las mencionadas sociedades, ninguna otra persona o sociedad será un tercer beneficiario de los Términos y Condiciones.</p>

            <p>14.7 Los Términos y Condiciones y su relación con BananaTube conforme a lo aquí previsto, se regirán por las leyes de España.</p>
                </div>
                </div>
            </div>
            <br>    
            <p>Fecha: 24 de diciembre de 2017</p>

            </div>
        </div>
    </div>

